    version: 2
   updates:
    - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "16:45"
      timezone: "America/New_York"
    groups:
      patch-updates:
        patterns:
          - "*"
        update-types:
          - "patch"
      minor-updates:
        patterns:
          - "*"
        update-types:
          - "minor"
     
     labels:
      - "dependencies"
      - "auto-mergeable"
